.cabecalho{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding: 15px 20px;
    color: rgb(15,15,15);
}
.cabecalho_logo{
    margin-bottom: 0,5rem;
    height: 60px;
}

.logo{
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 20px;{
     
    .menu a{
        font-size: 1.2em;
        color:white;
        text-decoration:none;
        padding: 8px 12px;
    }

    .menu a:hover{
        background-color: #c55195;
        border-radius: 4px;
        color: #000;
    }

    /*responsivo para telas menores*/
    @media (max: width 568px) {
        .cabecalho{
            flex-direction: column;
            align-items: flex-start;
        }
        .cabecalho_logo{
            display: none;
        }

        .menu ui{
            flex-direction: column;
            width: 100%;
            margin: 0;
            padding: 0;

        }

        .menu li{
            width: 100%;

        }

        .menu a{
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
    }

}